# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe

# CMake build directory
build/

# Visual Studio Code specific files
.vscode/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
